/*body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;

}*/
input{
	margin-top: 0;
	font-size: 35px;
	font-style: italic;
	margin-left: 20px;
	  
	 
}
.iconsfont{
	position: relative;
}

  .iconsfont1 i{
	position: relative;
	float: right;
	left: 0;
	top: 36px;
	padding-bottom: 3px;
	padding-left: 30px;
	color: #7094db;
	font-size: 30px;
	margin-left: 20px;
}

.iconsfont2 i{
	position: relative;
	float: right;
	left: 0;
	top: 36px;
	padding-bottom: 3px;
	padding-left: 30px;
	color: #7094db;
	font-size: 30px;
	margin-left: 20px;
}
.centered1{
	background-color: red;
	margin-left: 50px;
 }

footer a:hover{
 	text-decoration: none;
 }
